<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Learnalization tasks</title>
        <link rel="stylesheet" href="{{config['prefix']}}/static/style/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.js" type="text/javascript"></script>
        <script src="{{config['prefix']}}/static/js/mqtt_test.js" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <a class="namelogo" href="start">LEARNALIZATION </a>
            <img onclick="check()" class="Logo" src="/static/gfx/Logo.png" alt="Logo">
        </header>
        <div class="grid-container">
            <div class="item1">
                <div class="shadow3">Opgave</div>
            </div>
            <div class="item2">
                <div class="shadow2">Arbejdsbord</div>
            </div>
            <div class="item3">
                <div class="shadow3">Godkendte tabeller</div>
            </div>
            <div class="item4">
                <div class="shadow4">Du er et hotshot i Hollywood og har fået til opgave at lave en database
                over films titler (A), filminstruktør (B), udgivelsesår (C), længden(D) og skuespillerne(E). <br /><br />
                Hele tabellen indeholder altså attributterne A,B,C,D,E <br /><br />
                Databasens funktionelle afhængigheder er følgende: <br />
                Title(A) -> filminstruktør(B), udgivelsesår(C), længden(D)<br /><br /><br /><br />
                <div id="donefeedback"></div>
                </div>
            </div>
            <div class="item5">
                <div class="shadow5"> 
                    <div id="workbench"> Scan nogle attribut blokke og se din tabel tage form her!</div>
                </div>
            </div>
            <div class="item6">
                <div class="shadow4">
                    <div id="completed" contentEditable=true data-text="This is where your weighed 3NF tables will show!"></div>
                    <div id="completed" contentEditable="true" data-text="Her vil dine godkendte normaliserede 3NF tabeller vises!"></div>
                </div>
            </div>
            <div class="item7">
                <div class="shadow1">
                    <b> Normaliser dette tabel til 3NF for at formindske redundans: </b>
                </div>
            </div>
            <div class="item8">
                <div class="shadow6">
                    <div id="checknf"></div>
                </div>
            </div>
            <div class="item9">
                <div class="shadow1">
                    <button onclick="done()" class="submit" id="donebut"> Done </button>
                </div>
            <!--<script src="{{config['prefix']}}/static/js/mqtt_test.js" type="text/javascript"></script> -->
            </div>
        </div>
    </body>
</html>