<!DOCTYPE html>
    {% extends "/html/layout.html" %}
    {% set active_page = "measurements" %}
    {% block script %}
    <script defer src="{{config['prefix']}}/static/js/measurements.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}
    
    {% block content %}
        <h1>All measurements</h1>
            <table>
                <tr>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Pressure</th>
                <th>Date</th>
                </tr>
            </table>
            <table id="paging">
                {% for n in data %}
                    <tr>
                        <td> {{n[0]}} </td>
                        <td> {{n[1]}} </td>
                        <td> {{n[2]}} </td>
                        <td> {{n[3]}} </td>
                    </tr>
                {% endfor %}
                <tbody id="messages"></tbody>
            </table>
{% endblock content %}