<!DOCTYPE html>
    {% extends "/html/layout.html" %}
    {% set active_page = "measurements" %}
    {% block script %}
    <script defer src="{{config['prefix']}}/static/js/measurements.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}
    
    {% block content %}
    <!--Posts all measurements when loaded-->
        <h1>All measurements</h1>
            <table>
                    <tr>
                        <th>Temperature</th>
                        <th>Humidity</th>
                        <th>Pressure</th>
                        <th>Date</th>
                    </tr>
                <tbody id="messages">
                {% if (data is defined) and data %}
                    {% for n in data[0:20] %}
                    <tr>
                        <td> {{n[0]}} </td>
                        <td> {{n[1]}} </td>
                        <td> {{n[2]}} </td>
                        <td> {{n[3]}} GMT </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <th> Waiting for data </th>
                        <td> Waiting for data </td>
                        <td> Waiting for data </td>
                        <td> Waiting for data </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <button id="left"> Left </button>
            <div id="pagenum">Pagenumber: 1/ {{((data|length)/20)|round()|int }}</div>
            <button id="right"> Right </button>
            <div id="test"></div>
{% endblock content %}