/* css for body
*/
body {
    margin: 0;
    height: 100%;
    background-color: transparent;
}

/* css for grid container
*/
header {
    margin-bottom: 0.5%;
    padding: 10px;
    height: 40px;
    background-color: #142740;
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 0px 5px 2px #1427404d;
    
}

.namelogo {
    margin: auto;
    padding: 8px 0;
    font-size: 18px;
    text-decoration: underline 3px white;
    line-height: 40px;
}

.Logo {
    height: 40px;
    float: right;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: #e2a874;
}

/* css for grid container and elements
*/
.grid-container {
    margin: 0.5%;
    display: grid;
    grid-template-columns: 37% 37% 26%;
    height: 95%;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
  }

.grid-container > div {
    display: grid;
}

.item1, .item2, .item3 {
    height: 59px;
    text-align: center;
    font-size: 25px;
    padding: 8px;
    padding-right: 10px;
    color: #142740;
    margin-bottom: 1%;
}

.item4, .item5, .item6 {
    text-align: left;
    padding: 8px;
    padding-top: 0;
    padding-bottom: 0;
    height: 63vh;
    grid-row-start: 2;
    grid-row-end: 4;
    font-family: inherit;
}

.item7, .item8, .item9 {
    text-align: center;
    padding: 8px;
    padding-top: 0;
}

.shadow1 {
    padding: 15px;
    background-color: #e6f0fd;
    box-shadow: 8px 0px 8px -8px #ddd, -8px 0px 8px -8px #ddd, 0px 8px 8px -3px #ddd;
}

.shadow2 {
    padding: 15px;
    background-color: white;
    box-shadow: 8px 0px 8px 3px #ddd;
}

.shadow3 {
    padding: 15px;
    background-color: #e6f0fd;
    box-shadow: 8px 0px 8px 3px #ddd;
}

.shadow4 {
    padding: 15px;
    background-color: #e6f0fd;
    box-shadow: 8px 0px 8px -8px #ddd, -8px 0px 8px -8px #ddd, 0px 8px 8px 3px #ddd;
}

.shadow5 {
    padding: 15px;
    background-color: white;
    box-shadow: 8px 0px 8px -8px #ddd, -8px 0px 8px -8px #ddd, 0px 8px 8px 3px #ddd;
}

.shadow6 {
    padding: 15px;
    background-color: white;
    box-shadow: 8px 0px 8px -8px #ddd, -8px 0px 8px -8px #ddd, 0px 8px 8px -3px #ddd;
}

/* Complete button
*/
.submit {
    height: 40px;
    width: 50%;
    background-color: #142740;
    color: white;
    font: inherit;
}

.done :disabled {
    background-color: #142740;
    color: #142740;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}