<!DOCTYPE html>
    {% extends "/html/layout.html" %}
    {% set active_page = "home" %}

{% block content %}
    <div class="wrapper">
        <h1>Latest measurements</h1>
        <form id="connection-information-form">
            <b>Hostname or IP Address:</b>
            <input id="host" type="text" name="host" value="itwot.cs.au.dk"><br>
            <b>Port:</b>
            <input id="port" type="text" name="port" value="8883"><br>
            <b>Topic:</b>
            <input id="topic" type="text" name="topic" value="#"><br>
            <b>Latest:</b>
            <input type="text" name="latest" id="latest" readonly><br><br>
            <input type="button" onclick="startConnect()" value="Connect">
            <input type="button" onclick="startDisconnect()" value="Disconnect"> <br>
        </form>
        <div id="messages">
        </div>
    </div>
{% endblock content %}