<!DOCTYPE html>
    {% extends "/html/layout.html" %}
    {% block script %}
    <script defer src="{{config['prefix']}}/static/js/mqtt.js" type="text/javascript"></script>
    {% endblock %}
    {% set active_page = "home" %}

{% block content %}
    <div class="wrapper">
        <h1>Highlighted measurements</h1>
            <table>
                <tr>
                <th></th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Pressure</th>
                </tr>
                <tr>
                <th>Latest</th>
                <td><span id="latesttemp" value="{{ data[0][0][0] }}"></span></td>
                <td id="latesthum"><input value="{{ data[1]}}"> </input></td>
                <td id="latestpress"><input value="{{data[2]}}"> </input></td>
                </tr>
                <tr>
                <th>Maximum</th>
                <td id="maximumtemp"><input value="{{data[3]}}"> </input></td>
                <td id="maximumhum"><input value="{{data[5]}}"> </input></td>
                <td id="maximumpress"><input value="{{data[7]}}"> </input></td>
                </tr>
                <tr>
                <th>Minimum</th>
                <td id="minimumtemp"><input value="{{data[4]}}"> </input></td>
                <td id="minimumhum"><input value="{{data[6]}}"> </input></td>
                <td id="minimumpress"><input value="{{data[8]}}"> </input></td>
                </tr>
            </table>
    </div>
{% endblock content %}