<!DOCTYPE html>
    {% extends "/html/layout.html" %}
    {% set active_page = "home" %}

{% block content %}
    <div class="wrapper">
        <h1>Highlighted measurements</h1>
        <form id="connection-information-form">
            <table>
                <tr>
                <th></th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Pressure</th>
                </tr>
                <tr>
                <td>Latest</td>
                <td><input type="text" name="latesttemp" id="latesttemp" readonly value="{{data[0]}}"></td>
                <td><input type="text" name="latesthum" id="latesthum" readonly value="{{data[0]}}"></td>
                <td><input type="text" name="latestpress" id="latestpress" readonly value="{{data[0]}}"></td>
                </tr>
                <tr>
                <td>Maximum</td>
                <td><input type="text" name="maximumtemp" id="maximumtemp" readonly value="{{data[1]}}"></td>
                <td><input type="text" name="maximumhum" id="maximumhum" readonly value="{{data[0]}}"></td>
                <td><input type="text" name="maximumpress" id="maximumpress" readonly value="{{data[0]}}"></td>
                </tr>
                <tr>
                <td>Minimum</td>
                <td><input type="text" name="minimumtemp" id="minimumtemp" readonly value="{{data[2]}}"></td>
                <td><input type="text" name="minimumhum" id="minimumhum" readonly value="{{data[0]}}"></td>
                <td><input type="text" name="minimumpress" id="minimumpress" readonly value="{{data[0]}}"></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock content %}